<div class="container">
    <fieldset class="dropdown">
      <button class="btn-outline-dark dropdown-toggle rounded-0 p-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 60%;">
        類別
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: 60%;">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </fieldset>
    <div class="amount pt-4 pb-3 d-flex justify-content-between">
        <div>總金額 :</div>
        <div class='d-flex flex-row-reverse'>
          
          <div class="pt-2" style='font-weight: bolder; font-size: 40px; color: rgb(218, 120, 54);'>
            元
          </div>
          <div style='font-weight: bolder; font-size: 50px; color: rgb(218, 120, 54);'>
          {{{this.total}}}
          </div>
        </div> 
    </div>
    <div class="list-groups">
      {{#each expenses}}
        <div class="list-items">
          <div class="item-contents">
            <div class="item-content">
              <div class="item-contents-front">
                <i class="fas fa-home fa-2x"></i>
                <div class="items pt-2 pl-5">
                  <span>{{{this.name}}}</span>
                  <span></span>
                </div>
              </div>  
              <div class="p-3">
                {{{this.expense}}}
              </div> 
            </div>
            <div class="list-button mt-3 d-flex">
              <a href="/record/{{{this.id}}}/update">修改</a>
              <form action="/record/{{this.id}}/delete?_method=DELETE" method="POST">
                <button type="submit" style="all: unset;">刪除</button>
              </form>
            </div>   
          </div>
        </div>
      {{/each}}
      
      <div class="add-button">
        <a href="/record/new" type="submit" class="btn rounded-0 mt-5">新增支出</a>
      </div>
    </div>
  </div>

  {{!-- <i class="fas fa-shuttle-van"></i>
  <i class="fas fa-grin-beam"></i>
  <i class="fas fa-utensils"></i>
  <i class="fas fa-pen"></i> --}}